<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="keywords" content="{{ site.meta.keywords }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--link rel="dns-prefetch" href="//fonts.googleapis.com" /-->

    {{#dev}}
    <link rel="stylesheet" href="css/common.css" />
    {{/dev}}
    {{#prod}}
    <link rel="stylesheet" href="css/common.min.css" />
    {{/prod}}

    <script src="js/libs/modernizr-2.6.2.js"></script>
  </head>
  <body>

    <header class="site-header">
      {{ site.title }}
    </header>
    <div class="container">

      {{>body}}

    </div>
    <footer class="site-footer">

    </footer>

    <!--script data-src="main" src="js/require.js"></script-->
    {{#dev}}
    <script src="js/libs/jquery-1.10.2.js"></script>
    <script src="js/script.js"></script>
    {{/dev}}
    {{#prod}}
    <script src="js/libs/jquery-1.10.2.min.js"></script>
    <script src="js/script.min.js"></script>
    {{/prod}}
  </body>
</html>